<div class='bg-dark'>
  <div class='container'>
    <div class="jumbotron jumbotron-fluid bg-success">
      <div class="container">
        <h1 class="display-4 pull-right text-center font-weight-bold">
          <span class='text-danger'> The </span class=''>
          <span class='text-warning'> Color </span class=''>
          <span class='text-primary'> Game!</span>
        </h1>
        <p class="lead text-center font-weight-bold text-light">Pick the correct answer as quickly as possible!
        </p>
        <h3 class='lead text-center font-weight-bold text-light'>Disclaimer: This game not sponsored by Google
          Chrome
        </h3>
        ​
        <h2 class="text-light"> Your High score: <span id='hi-score'> </span></h2 id='hi-score'>
        <h2 class='mt-3 text-light'>Your score: <span class='score'>
            ​
          </span></h2>
        ​
        ​
      </div>
    </div>
    <div>
      <h1 id='prompt' class='text-center text-light'> Select the <span class='new-prompt text-light'> </span>
        colored Text
      </h1>
    </div>
    <!-- These buttons will be dynamically created with random color and text -->
    <div class='mt-3' id='buttons'>
      ​
    </div>
  </div>
</div>