<div id="wrapper">
  <h1 class="chrome">Hangin' With</h1>
  <h3 class="dreams">The Boyzzz</h3>
</div>

<div id="body">
  <div id="container">
    <h2 id="music"></h2>
    {{!-- The div where our game image will be shown. --}}
    <div id="band-div"><img src="" alt=""></div>
    <div id="game-section">
      <p>Press any key to get started!</p>
      <div>
        <h3 class="section-title">Wins</h3>
        {{!-- The div where our wins will be shown. --}}
        <div id="wins"></div>
      </div>
      <div id="current-word-section">
        <h3 class="section-title">Current Word</h3>
        {{!-- The div where our current word (and guessing progress) will be shown. --}}
        <div id="current-word"></div>
      </div>
      <div id="guesses-remaining-section">
        <h3 class="section-title">Number of Guesses Remaining</h3>
        {{!-- The div where our remaining guesses will be shown. --}}
        <div id="guesses-remaining"></div>
      </div>
      <div id="guessed-letters-section">
        <h3 class="section-title">Letters Already Guessed</h3>
        {{!-- The div where our guesses letters will be shown --}}
        <div id="guessed-letters"></div>
      </div>
    </div>
  </div>

  {{!-- modal --}}
  {{!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">You Won!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you want to return to the main menu or play again?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" target="_blank" href="../html/index.html">Main Menu</button>
        </div>
      </div>
    </div>
  </div> --}}

</div>