<div class='container'>

  {{!-- modal --}}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Game Over!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Choose if you want to save your high-score and return to the arcade or play again!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary btn-link again" href="#">Play
            Again!</button>
          <button type="button" id="save" class="btn btn-outline-primary btn-link home-link" href="#">Save/Exit</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- navbar --}}
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">The Boyzzz!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Games
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/simonsays">Simon Sayz</a>
            <a class="dropdown-item" href="/colorgame">Color Game</a>
            <a class="dropdown-item" href="/hangman">Hang Man</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            High-Scores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="http://localhost:3000/ss/hiscores">Simon Sayz</a>
            <a class="dropdown-item" href="http://localhost:3000/cg/hiscores">Color Game</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/signin" id="loginBtn">Login /</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/signup" id="signUp">Sign-Up</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="display-4 pull-right text-center font-weight-bold text-light">
        The Boyzzz say!
      </h1>
      <p class="lead text-center font-weight-bold text-light">Instructions: Click start game and watch
        carefully which colors appear. Then, click the buttons below to match the sequence of colors that
        you saw. Click end turn to see if your input was correct. If your score goes up, then hit next turn
        and see how long you last!
      </p>
      ​
      ​
      <h2 class="text-danger"> Your High score: {{ssHiScore}}</h2>
      <h2 class='mt-3 text-success'>Your score: <span class='simonScore'>
          ​
        </span></h2>
      ​
      ​
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <p class='font-weight-bold next-turn'>Click here to start the game</p>
      <button id='start' class='btn btn-outline-success'>
        Start Game
      </button>
    </div>
    <div class='col-md-6'>
      ​
      <div id='simon-sq'>
        ​
      </div>
    </div>
    <div class='col-md-3'>
      <p class='font-weight-bold'>Click here to end your turn</p>
      <button id='end' class='btn btn-outline-primary'>
        End Turn
      </button>
    </div>
  </div>
  <div class='row'>
    ​
  </div>
</div>
​
{{!-- The simon square will be dynamically generated --}}
​
<br>
<br>
<br>
<br>
​
<div id='simonBtns'>
  ​
</div>

{{!-- footer with copyright and link back to homepage/arcade --}}
<footer>
  <div class="footer-container">
    Copyright &copy; The Boyzzz
    <br>
    <a id="back-to-top" href="/dashboard">Home</a>
  </div>
</footer>
​