<div class='container'>
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="display-4 pull-right text-center font-weight-bold text-light">
        The Boyzzz say!
      </h1>
      <p class="lead text-center font-weight-bold text-light">Instructions: Click start game and watch
        carefully which colors appear. Then, click the buttons below to match the sequence of colors that
        you saw. Click end turn to see if your input was correct. If your score goes up, then hit next turn
        and see how long you last!
      </p>
      ​
      ​
      <h2 class="text-danger"> Your High score: <span id='hi-score'> </span></h2 id='hi-score'>
      <h2 class='mt-3 text-success'>Your score: <span class='score'>
          ​
        </span></h2>
      ​
      ​
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <p class='font-weight-bold next-turn'>Click here to start the game</p>
      <button id='start' class='btn btn-outline-success'>
        Start Game
      </button>
    </div>
    <div class='col-md-6'>
      ​
      <div id='simon-sq'>
        ​
      </div>
    </div>
    <div class='col-md-3'>
      <p class='font-weight-bold'>Click here to end your turn</p>
      <button id='end' class='btn btn-outline-primary'>
        End Turn
      </button>
    </div>
  </div>
  <div class='row'>
    ​
  </div>
</div>
​
{{!-- The simon square will be dynamically generated --}}
​
<br>
<br>
<br>
<br>
​
<div id='buttons'>
  ​
</div>
​